# ==========================================
# POSTGRESQL DATABASE
# ==========================================
POSTGRES_USER=wally_user
POSTGRES_PASSWORD=wally_secret_pass_2026
POSTGRES_DB=wally_commerce_db

# ==========================================
# JWT SECRETS
# ==========================================
JWT_ACCESS_SECRET=wally_access_super_secret_jwt_key_2026_enterprise_prod
JWT_REFRESH_SECRET=wally_refresh_super_secret_jwt_key_2026_enterprise_prod

# ==========================================
# FRONTEND CONFIG
# ==========================================
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
